<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <!--html文件头部开始-->
    <div th:replace="common :: commonheader"></div>
    <!--html文件头部结束-->
</head>

<body class="sticky-header">

<section>
    <!-- 页面左侧部分开始-->
    <div th:replace="common :: leftPart"></div>
    <!-- 页面左侧部分结束-->

    <!--主要内容开始-->
    <div class="main-content" >

        <!-- 页面头部开始-->
        <div th:replace="common :: headPart"></div>
        <!-- 页面头部结束-->

        <!-- 页面标题开始-->
        <div class="page-heading">
            这里是页面标题部分。{我的课程——学生}
        </div>
        <!-- 页面标题结束-->

        <!--页面正文开始-->
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <header class="panel-heading">
                        单选题（每题2分）
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" href="javascript:;"></a>
                            <a class="fa fa-times" href="javascript:;"></a>
                        </span>
                    </header>
                    <section class="panel" th:each="question,stat:${questions}">
                        <div class="panel-body" >
                            <div class="row" >
                                <div class="col-md-6" >
                                    <form class="form-horizontal bucket-form" method="get" >
                                        <h5 th:text="${#maps.size(question)}"></h5>
                                        <div class="form-group">

                                            <div class="col-sm-9 icheck ">
                                                <div class="minimal single-row">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" checked>
                                                        <label th:text="${question.optionA}">Black Checkbox </label>
                                                    </div>
                                                </div>
                                                <div class="minimal-red single-row">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" checked>
                                                        <label th:text="${question.optionB}">Red Checkbox </label>
                                                    </div>
                                                </div>
                                                <div class="minimal-green single-row">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" checked>
                                                        <label th:text="${question.optionC}">Green Checkbox </label>
                                                    </div>
                                                </div>
                                                <div class="minimal-blue single-row">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" checked>
                                                        <label th:text="${question.optionD}">Blue Checkbox </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--页面正文结束-->


        <!--页脚部分开始-->
        <footer>
            这里是页脚部分。
        </footer>
        <!--页脚部分结束-->

    </div>
    <!--主要内容结束-->
</section>
<!--html文件尾部开始-->
<div th:replace="common :: commontail"></div>
<!--html文件尾部结束-->
</body>
</html>
