<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <!--html文件头部开始-->
    <div th:replace="common :: commonheader"></div>
    <!--html文件头部结束-->
</head>

<body class="sticky-header">

<section>
    <!-- 页面左侧部分开始-->
    <div th:replace="common :: leftPart"></div>
    <!-- 页面左侧部分结束-->

    <!--主要内容开始-->
    <div class="main-content" >

        <!-- 页面头部开始-->
        <div th:replace="common :: headPart"></div>
        <!-- 页面头部结束-->

        <!-- 页面标题开始-->
        <div class="page-heading">
            这里是页面标题部分。{我的收藏}
        </div>
        <!-- 页面标题结束-->

        <!--页面正文开始-->
        <div class="wrapper">
            这里是页面正文部分。
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Dynamic Table
                            <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <table  class="display table table-bordered table-striped" id="dynamic-table">
                                    <thead>
                                    <tr>
                                        <th>_id </th>

                                        <th>modelId </th>
                                        <th>publisherId </th>
                                        <th>modelType </th>

                                        <th>title </th>
                                        <th>subject </th>
                                        <th>description </th>
                                        <th>term </th>
                                    </tr>
                                    </thead>
                                    <tbody th:each="model, stat:${models}">
                                    <tr class="gradeX">
                                        <td th:text="${model._id}"></td>

                                        <td th:text="${model.modelId}"></td>
                                        <td th:text="${model.publisherId}"></td>
                                        <td th:text="${model.modelType}"></td>

                                        <td th:text="${model.title}"></td>
                                        <td th:text="${model.subject}"></td>
                                        <td th:text="${model.description}"></td>
                                        <td th:text="${model.term}"></td>




                                        <!--<td class="center hidden-phone" th:text="${}"></td>
                                        <td class="center hidden-phone" th:text="${}"></td>&ndash;&gt;-->
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--页面正文结束-->

        <!--页脚部分开始-->
        <footer>
            这里是页脚部分。
        </footer>
        <!--页脚部分结束-->

    </div>
    <!--主要内容结束-->
</section>
<!--html文件尾部开始-->
<div th:replace="common :: commontail"></div>
<!--html文件尾部结束-->
</body>
</html>
